body {
/*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'B20 Sans', sans-serif;
}


a:visited {
    text-decoration: none;    
}


.title-container h1 {
    text-align: center;
    font: 2.21429em PT Sans, sans-serif;
    color: #74767f;
    margin: 50px 0;
}

.container-contact {
/*    background: url(../img/about_us.png) no-repeat center;*/
    height: 450px;
}

.container-contact__right {
    height: 450px;
}

.container-contact__left {
    font-family: PT Sans;
}

input {
    margin-bottom: 10px;
}
 
h4 span {
    color: #90b651;
}

.pic {
    padding: 0;
}

.pic-container {
    height: 262px;
    background: url(../../img/greenbg.jpg) no-repeat center;
    color: #fff;
    text-align: right;
    font-family: PT Sans;
    padding-right: 20px;
    padding-top: 20px;
}

.pic-container h1 {
    text-align: right;
    color: #fff;
    font: 3.57143em PTSansCaptionBold, Sans-serif;
    margin-top: 0px;
}

.pic-container h3 {
    font: 22px PTSansCaptionBold, Sans-serif;
}

.number {
    display: inline-block;
}

.profile-pic {
    top: 275px;
    position: absolute;
    height: 200px;
    width: 200px;
    border: 4px solid white;
    border-radius: 100px;
    object-fit: cover;
}

.profile-info {
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #585963;
}

.profile-info__name {
    font: 2.28571em PT Sans Narrow, sans-serif;
    color: #585963;
}

.profile-info__pro {
    background: #272a33;
    color: white;
    padding: 2px 5px 2px 5px;
    font: 1.21429em PT Sans, sans-serif;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
}

.profile-info__days {
    float: right;
    padding-top: 20px;
}

.profile-desc {
    font: 1.21429em B20 Sans, sans-serif;
    margin-left: 200px;
    padding-top: 20px;
    word-wrap: break-word;
}

.profile-desc__block {
    font: 1.5em PT Sans Narrow, sans-serif;
    display: block;
}

.btn-price {
    width: 100%;
    font: 1.5em PT Sans Narrow, sans-serif;
    background-color: #9fbf31;
    color: #fff;
    border: none;
}

.content-options__option {
    margin-top: 60px;
}

.content-options__option span {
    text-align: center; 
    font: 1.5em PT Sans Narrow, sans-serif;
    display: block;
    border-bottom: 2px solid #9c9c9c;
    color: #585963;
    text-transform: uppercase;
}
.content-options__option span:hover {
    border-bottom: 2px solid #90b651;
    color: #90b651;    
    cursor: pointer;
}

#content-options__port span {
    border-bottom: 2px solid #90b651;  
    color: #90b651;
}

.content-container {
    margin-top: 50px;
}

.table-props {
    margin-top: 30px;
    display: none;
}

.table-props th {
    color: #585963;
    font: 1.21429em PT Sans, sans-serif;
    padding: 30px 0 30px 38px;
    font-weight: 700;
}

td.td-name {
    color: #585963;
    font: 1.21429em PT Sans, sans-serif;
    font-weight: 700;
    width: 300px;
}

td.td-price {
    color: #305491;
    font: 1.21429em PT Sans, sans-serif;
    text-align: center;
}

td.td-price:hover {
    color: #305491;
    cursor: pointer;
    background-color: #e7f2c8;   
}

.td-desc {
    height: 100px;
}

.td-desc__title {
    width: 500px;
    font: 17px PT Sans;
    font-weight: 700;
}

.td-desc__text {
    width: 500px;
    float: left;
    font: 15px PT Sans;
}

.table-props__desc {
    display: none;
}

.btn-send {
    margin-top: -5px;
    width: 150px;
    height: 50px;
    background-color: #9fbf31;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 20px;
    font-family: PT Sans;
    font-weight: 700;
    float: right;
}

.btn-send:hover {
    background-color: #9fbf31;
    color: #fff;
}

.td-desc__close {
    float: right;
    margin-top: -28px;
}

.td-desc__close:hover {
    cursor: pointer;
}

.container-portfolio {
    
    margin-top: 10px;    
}

.portfolio {
    margin-bottom: 30px;
}

.container-portfolio__album {
    height: 350px;
    width: 350px;  
    margin-top: 30px;
      
}

.container-portfolio__desc {
    position: absolute;
    bottom: 5px;
    color: #fff;
    font-family: B20 Sans, sans-serif;
    font-size: 26px;
    padding-left: 10px;
    width: 100%;
}

.container-portfolio__desc span {
    position: absolute;
    bottom: 0;
    right: 40px;
}

.portfolio-album {
    height: 350px;
    width: 350px; 
    object-fit: cover;
}

.portfolio-album:hover {
    cursor: pointer;
}

.portfolio-gallery {
	height: 100%;
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 23123;
    display: none;
}

.portfolio-gallery__close { 
    text-transform: uppercase;
    font: 1.5em PT Sans Narrow, sans-serif;
    font-weight: bold;
    color: #585963;
    margin: 20px auto; 
    width: 100px;
    text-align: center;
}

.portfolio-gallery__close:hover { 
    color: #90b651;
    cursor: pointer;
}

.user-link {
    padding-left: 15px;
    color: #90b651;
    font-size: 21px;
    font-family: B20 Sans, sans-serif;
    font-weight: 700;
}

.user-link a{
    color: #90b651;
    font-size: 21px;
    font-family: B20 Sans, sans-serif;
    font-weight: 700;
}

.user-link a:hover {
    text-decoration: none;
}

.user-link a:visited {
    color: #90b651;
}

.user-link span {
    color: #74767f;
}

@media (min-width: 1920px) {

}


@media (min-width: 1300px) {

}


@media (max-width: 1200px) {


}

@media (max-width: 992px) {
     
    
}

@media (max-width: 767px) {
    
  

}

@media (max-width: 450px) {
  
}

@font-face {
    font-family: B20 Sans;
    src: url(http://webfonts.ru/import/b20sans.css), 
}  


