.table-users tr.tr-user td {
	padding: 4px;
}

.td-desc {
    word-break: break-all;    
}

td {
    max-width: 100px;
    font-size: 14px;
}

td:hover {
    cursor: pointer;
}


.tr-cat {
    background-color: chartreuse;
}

/*
.tr-cat#row-0 {
    background-color: chartreuse;
}*/
