body {
/*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'B20 Sans', sans-serif;
}

a:visited {
    text-decoration: none;    
}


.pic {
    padding: 0;
}

.pic-container {
    height: 180px;
    background: url(../img/greenbg.jpg) no-repeat center;
    color: #fff;
    text-align: right;
    font-family: PT Sans;
    padding-right: 20px;
    padding-top: 20px;
}

.pic-container h1 {
    text-align: right;
/*    font: 3.21429em PT Sans, sans-serif;*/
    color: #fff;
    font: 3.57143em PTSansCaptionBold, Sans-serif;
    margin-top: 0px;
/*    margin: 50px 0;*/
}

.btn-send {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: #9fbf31;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-family: B20 Sans;
    border: none;
}

.btn-send:hover {
    background-color: #9fbf31;
    color: #fff;
}

input {
    margin-bottom: 10px;
}

h1 {
   margin-bottom: 0px; 
}

h3 {
   margin-top: 0px; 
}

.number {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

th {
    font-size: 1.061429em;
}

td {
    font-size: 1.061429em;   
}

.td-price {
    color: #ff0000;  
    font-size: 1.42857143em;    
}



@media (min-width: 1920px) {

}


@media (min-width: 1300px) {

}


@media (max-width: 1200px) {


}

@media (max-width: 992px) {
     
    
}

@media (max-width: 767px) {
    .pic-container {
        height: 140px;
    }
    .pic-container h1 {
        font-size: 28px;
    }
    .pic-container h3 {
        font-size: 20px;
    }
    
  

}

@media (max-width: 650px) {
    .pic-container {
        height: 170px;
    }
    
    .pic-container h1 {
        font-size: 26px;
    }
    .pic-container h3 {
        font-size: 18px;
    }
    
    .number {
        margin-top: 5px;
    }
    
    td {
        font-size: 1em;
    }
    .td-price {
        font-size: 1em;
    }
 
}

@font-face {
    font-family: B20 Sans;
    src: url(http://webfonts.ru/import/b20sans.css), 
}  


