body {
/*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'B20 Sans', sans-serif;
}

a:visited {
    text-decoration: none;    
}

#hmagent {
    color: #fff;
    background-color: #90b651
}

.title-container h1 {
    text-align: center;
    font: 2.21429em PT Sans, sans-serif;
    color: #74767f;
    margin: 50px 0;
}

.container-contact {
/*    background: url(../img/about_us.png) no-repeat center;*/
    height: 450px;
}

.container-contact__right {
    height: 450px;
}

.container-contact__left {
    font-family: PT Sans;
}

.btn-send {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #9fbf31;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-family: PT Sans;
}

.btn-send:hover {
    background-color: #9fbf31;
    color: #fff;
}

input {
    margin-bottom: 10px;
}

h4 span {
    color: #90b651;
}


@media (min-width: 1920px) {

}


@media (min-width: 1300px) {

}


@media (max-width: 1200px) {


}

@media (max-width: 992px) {
     
    
}

@media (max-width: 767px) {
    
  

}

@media (max-width: 450px) {
  
}

@font-face {
    font-family: B20 Sans;
    src: url(http://webfonts.ru/import/b20sans.css), 
}  


