body {
/*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'B20 Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333333;
}


#news {
    color: #fff;
    background-color: #90b651
}

.container-news__post {
    font-family: B20 Sans;
    height: 180px;
    padding: 15px;
    margin-bottom: 40px;
}

.container-news__post:hover {
    background-color: #ddd;
    cursor: pointer;
}

.container-news__img {
    
    height: 150px;
    float: left;
    width: 50%;
}

.container-news__text {
    float: right;
    width: 50%;
    padding-left: 5px;
}

.container-news__text h3{
    margin-top: 0;
}


@media (min-width: 1920px) {

}


@media (min-width: 1300px) {

}


@media (max-width: 1200px) {


}

@media (max-width: 992px) {
     
    
}

@media (max-width: 767px) {
    
    .container-news__post {
        height: 100px;

    }
    .container-news__img {
        width: 30%;
        height: 90px
    }

    .container-news__text {
        width: 70%;

    }
  

}

@media (max-width: 450px) {
  
}

@font-face {
    font-family: B20 Sans;
    src: url(http://webfonts.ru/import/b20sans.css), 
}  


