body {
/*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'B20 Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #90b651;
}

a:visited {
    text-decoration: none;    
}


.container-img {
    margin-top: 0px;
}

#tenders { 
    color: #fff;
    background-color: #90b651;
}
 

.tender-container {
    margin: 10px 0 10px 0;
    padding: 20px;
/*    height: 150px;*/
}

.user-pic {
    margin-top: 15px;
    height: 100px; 
    width: 100px; 
    float: left;
}

img.user-pic__img {
    height: 100px; 
    width: 100px; 
    float: left;
    border-radius: 50px;
    object-fit: cover;
}

.tender-name {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    width: 60%;
}

.tender-info {
    font: 1em PT Sans Caption, Sans-serif;
    margin-right: 5px;
}
 
.tender-price {
    font: 1.2em PT Sans Caption, Sans-serif;
}

.tender-price__red {
    color: #fb5353;
    font: 25px PT Sans Narrow, sans-serif;
    font-weight: bold;
}

.user-name {
    font: 1.2em PT Sans Narrow, Sans-serif;
    color: #585963;
}

.tender-title {
    color: #585963;
    font: 23px PT Sans Narrow, Sans-serif;
    margin-top: 10px;
}

.tender-text {
    margin-top: 20px;  
    padding-left: 110px;
    float: left;
    width: 100%;
}

.tender-info {
    float: right;
    margin-top: 25px;
}

.tender-bidders {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.tender-bidders__count {
    float: left;
    width: 100px;
    text-align: center;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
}

.tender-bidders__count p {
    font-size: 27px;
}

.tender-bidders__block {
    float: left;    
}

.tender-bidders__bidder {
    float: left; 
    height: 80px;
    width: 80px;
    margin-left: 5px;
}

.tender-bidders__bidder img {
    height: 80px; 
    width: 80px; 
/*    border-radius: 50px;*/
    object-fit: cover;    
}

.tender-bidders__bidder p {
    height: 17px;
    width: 80px;
    text-align: center;
    background: #272a33;
    color: #fff;
    font: 0.90714em PT Sans, sans-serif;
/*    font-weight: bold;*/
}


.input-price {
	display: inline-block;
    width: 100px;
}

.input-price:hover {
	cursor: text;
    color: black;
}

.search {
    padding: 0;
}

.part-search {
    background-color: #e5e7eb;  
    display: none;
}

.part-search__item {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-open {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: #e5e7eb;
    text-align: center;
}

#search-open:hover {
    cursor: pointer;
}

.dropdown {
/*    float: left;*/
}

.dropdown-menu {
    z-index: 2000;
    left: 118px;
    font-size: 18px;
}

.button-search {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;  
}

.button-search__submit {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    background-color: #b0d350;
    color: white;
}

.button-search__submit:hover {
    background-color: #99c030;
    color: white;
}

.participant-content {
    float: left;
    margin-left: 20px;
}

.participant-user {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dddedf;
}

.participant-user__pic {
    float: left;
}

.participant-pic__img {
    height: 100px; 
    width: 100px; 
    float: left;
    border-radius: 50px;
    object-fit: cover;    
}

.participant-user__name {
    font-size: 20px;
    float: left;
    width: 100%;
}

.participant-portfolio {
    float: left;
}

.portfolio-photo {
    float: left;
}

.portfolio-photo img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
}


@media (min-width: 1920px) {


}


@media (min-width: 1300px) {

}


@media (max-width: 1200px) {

    
 

}

@media (max-width: 992px) {
 
}

@media (max-width: 767px) {
    
  

}

@media (max-width: 450px) {

}

@font-face {
    font-family: B20 Sans;
    src: url(http://webfonts.ru/import/b20sans.css), 
}  


