body {
/*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'B20 Sans', sans-serif;
}

.container-img {
    margin-top: 0px;
}

#tenders { 
    color: #fff;
    background-color: #90b651;
}


.tender-container {
    margin: 10px 0 10px 0;
    padding: 0px;
    height: 150px;
}

.user-pic {
    margin-top: 15px;
    height: 100px; 
    width: 100px; 
    float: left;
}

img.user-pic__img {
    height: 100px; 
    width: 100px; 
    float: left;
    border-radius: 50px;
    object-fit: cover;
}

.tender-name {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    width: 40%;
}

.tender-info {
    font: 1em PTSansCaption, Sans-serif;
    margin-right: 5px;
}
 
.tender-price {
    font: 1.2em PTSansCaption, Sans-serif;
}

.tender-price__red {
    color: #ff0000;
}

.user-name {
    font: 1.2em PTSansCaptionBold, Sans-serif;
}

.tender-title {
    font: 1.5em PTSansCaptionBold, Sans-serif;
}

.tender-info {
    float: right;
    margin-top: 25px;
}


@media (min-width: 1920px) {


}


@media (min-width: 1300px) {

}


@media (max-width: 1200px) {

    
 

}

@media (max-width: 992px) {
 
}

@media (max-width: 767px) {
    
  

}

@media (max-width: 450px) {

}

@font-face {
    font-family: B20 Sans;
    src: url(http://webfonts.ru/import/b20sans.css), 
}  


