.navbar {
	border: none;
}

.main-navbar {
    min-height: 73px;
    background: #272a33;
    border-top: 4px solid #90b651;
    margin-bottom: 0;
    position: relative;
    margin-top: 0;
    z-index: 100;
}

.navbar-brand {
    height: 68px;
    padding-top: 10px;
}

#navbar-auth-button {
    height: 30px;
/*    width: 60px;*/
    padding: 3px 6px;
    margin-top: 14px;
    background-color: #272a33;
    background-image: none;
    border: 3px solid #90b651;
    border-radius: 4px;
    float: right;
    color: #b2b3b7;
    font-family: PT Sans, sans-serif;
    margin-right: 10px;
    display: none;
}

.auth-menu-mob {	
     display: none;   
}

#navbar-toggle-button {
    height: 30px;
    width: 60px;
    padding: 3px 6px;
    margin-top: 14px;
    background-color: #272a33;
    background-image: none;
    border: 3px solid #90b651;
    border-radius: 4px;
}

#navbar-toggle-button span {
    color: #b2b3b7;
    font-family: PT Sans, sans-serif;
}

.menu-link {
    display: block;
    font: 1.14286em PT Sans, sans-serif;
    color: #b2b3b7;
    text-transform: uppercase;
    float: left;   
}

.menu-link-a {
/*
    font-family: PT Sansbold, sans-serif;
    font-weight: bold;
*/
    height: 62px;
    line-height: 40px;
}

#menu-button__city {
    font: 1.14286em PT Sans, sans-serif;
    color: #b2b3b7;
    text-transform: uppercase;
    display: inline-block;
    height: 62px;
    line-height: 80px;
    padding-left: 7px;
    padding-right: 7px;  
    float: right;
}

#menu-button__city:hover {
    background-color: #90b651;
    color: #fff;
    cursor: pointer;
}

.navbar-nav a.menu-link-a {
    height: 62px;
    line-height: 51px;
} 

#propositions {
    color: #90b651;
    font-family: PT Sansbold, sans-serif;
    font-weight: bold;
}

#propositions:hover {
    color: #fff;
}

.menu-link:hover {
    background-color: #90b651;
}

.menu-link:hover a {
    color: #fff;
}

#bs-example-navbar-collapse-1 {
    background-color: #272a33;
}

#menu-link-a__ad {
    display: none;
}

#menu-link-a__ab {
    display: none;
}

#menu-link-a__s {
    display: none;
}

#menu-link-a__log {
    display: none;
}

#menu-link-a__reg {
    display: none;
}

.categories-container {
/*    position: absolute;*/
    background-color: #fff;
    display: none;
    z-index: 10000;
}

.categories-list {
    margin-top: 5px;
/*    column-count: 5;*/
}

/*
.categories-list li{
    float: left;
    display: block;
}
*/

.categories-list__item {
    text-decoration: none;
    list-style: none;
    color: #272a33;
    font: 1.21429em B20 Sans, sans-serif;
    padding: 1px 5px 1px 5px;
}

.categories-list__cat {
    color: #8ab04b;
    font: 1.21429em PT Sans Narrow, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.categories-list__group {
    margin-left: 5px; 
}

.categories-list__group span {
    color: #8ab04b; 
}

.city-container {
/*    position: absolute;*/
    background-color: #fff;
    display: none;
    z-index: 10000;
}

.city-container__text {
    padding: 27px 0 0 16px;
    margin: 0 0 24px 0;
    font: 1.42857em PTSansbold, sans-serif;
}

.city-list {
    margin-top: 5px;
}

.city-list__item {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font: 1.21429em B20 Sans, sans-serif;
    padding: 5px 8px 3px 11px;
    color: #545454;
    border-radius: 3px;
}

.city-list__current {
    background: #e7f2c8;

}

.city-list__item:hover {
    background: #e7f2c8;
    cursor: pointer;
}

.form-control:hover {
    cursor: pointer;
    color: #fff;
}
option {
    color: black;
}

.categories-list__mob {
    display: none;
    background: none;
    border: none;
    font: 14px PTSansbold, sans-serif;
    color: #90b651;
    text-transform: uppercase;
    width: auto;
    padding: 0;
    box-shadow: none;
    font-weight: bold;
}

.city-list__mob {
    display: none;
    background: none;
    border: none;
    font: 14px PTSansbold, sans-serif;
    color: #90b651;
    text-transform: uppercase;
    width: auto;
    padding: 0;
    box-shadow: none;
    font-weight: bold;
}

@media (max-width: 1200px) {

    .menu-link-a {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
}

@media (max-width: 992px) {
    
    #logo-pic {
        height: 30px;
    }  
    
    .navbar-brand {
        padding-top: 20px;
    }
    
    .menu-link-a {
        padding-left: 3px !important;
        padding-right: 3px !important;
        font-size: 13px;
    }
    
}

@media (max-width: 767px) {
    
    .navbar-header {
        height: 60px;
    }
    
    .navbar-nav {
        margin: 0;
    }
    
    .navbar-brand {
        padding-top: 13px;
    } 
    
    .main-navbar {
        height: 60px;
        min-height: 60px;
    }
    
    #bs-example-navbar-collapse-1 {
        position: absolute;
        top: 56px;
        width: 100%;
        padding-bottom: 10px;
    }
    
    #navbar-menu-ul {
        width: 100%; !important
        float: none; !important
    }
    
    .menu-link {
        width: 100%;
        display: inline;
        height: 30px;
        padding-top: 0;
    }
    
    .menu-link a {
        font-size: 14px;
    }
    
    .navbar-nav a.menu-link-a {
        line-height: 14px;
        height: 30px;
    } 
    
    #menu-link__prop {
        display: none;
    }
    
    .menu-link-mob {
        display: none;
    }
    
    #menu-link-a__ad {
        display: block;
    }
    
    #menu-link-a__ab {
        display: block;
    }

    #menu-link-a__s {
        display: block;
    }

    #menu-link-a__log {
        display: block;
    }

    #menu-link-a__reg {
        display: block;
    }
    
    #logo-pic {
        height: 30px;
    }
    
    .categories-container {
        top: 87px;        
    }
    
    .categories-list__mob {
        display: block;
    }
    
    .city-list__mob {
        display: block;
    }
    
    #menu-button__city {
        display: none;
    }
    
    #navbar-auth-button {
        display: block;
    }

}