.upper-bar {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.upper-bar__link {
    float: left;
    font-size: 16px;
    display: block;
    height: 100%;
    padding-top: 10px;
    margin-right: 20px;
    color: #a4a5a9;
}

.upper-bar__link:hover{
    text-decoration: none;
    color: #90b651;
}

.container-lower-menu {
    width: 100%;
    height: 35px;
}

.container-search {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    float: right;
    display: none;
    
}

.container-search input#search {
    width: 100%;
    height: 30px;
    background: #fff;
    border: 1px solid #c6c7cb;
    font-size: 12pt;
    font-family: B20 Sans, sans-serif;
    float: left;
    color: #c6c7cb;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 5px;
    

}

.container-search input#search::-webkit-input-placeholder {
   color: #c6c7cb;
}

.container-search input#search:-moz-placeholder { /* Firefox 18- */
   color: #c6c7cb;  
}

.container-search input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #c6c7cb;  
}

.container-search input#search:-ms-input-placeholder {  
   color: #c6c7cb;  
}


.container-searchinput#search:hover, .container-search input#search:focus, .container-search input#search:active {
    outline:none;
    background: #ffffff;
}

.header-social-btns__link {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-bottom: 5px;

}

.container-social {
    float: left;
    height: 35px;    
}

.header-social-btns__link--tw {
    background: url(../../img/header-social-btns-1.png) 5px 7px no-repeat;
}

.header-social-btns__link--vk {
    background: url(../../img/header-social-btns-1.png) -34px 7px no-repeat;
}

.header-social-btns__link--fb {
    background: url(../../img/header-social-btns-1.png) -73px 7px no-repeat;
}

.header-social-btns__link--in {
    background: url(../../img/header-social-btns-1.png) -110px 7px no-repeat;
}

.button-auth {
    background-color: #fff;
    border: 1px solid #c6c7cb;
    border-radius: 4px;
    color: #a4a5a9;
    margin-left: 5px;
    margin-top: 5px;
    height: 30px;
    font-size: 16px;
    font-family: B20 Sans, sans-serif;
    float: right;
    padding-top: 3px;
    
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    -ms-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.button-auth:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#auth-button_city {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px;
    font-family: B20 Sans, sans-serif;
    float: right;
}

#auth-button_search {
    margin-left: 5px;
    margin-top: 5px;
    height: 30px;
    font-family: B20 Sans, sans-serif;  
    float: right;
}

.container-auth {
    float: right;
/*    margin-right: 15px;*/
    margin-bottom: 5px;
}




#city {
    float: right;
}

#dropdown-upper {
    float: right;
}

.auth-menu-mob {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 31231;
    background: #272a33;
    padding: 10px;
}

.auth-menu-mob label{
    color: #9d9d9d;
}

.auth-menu-mob input.form-control:hover{
    cursor: text;
}

.auth-menu-mob input.form-control:hover{
    color: #000;
}

.auth-menu-mob input[type="checkbox"]:hover{
    cursor: pointer;
}

.auth-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 31231;
    background: #272a33;
    padding: 10px;
    border-top: 4px solid #90b651;
}

.auth-menu label{
    color: #9d9d9d;
}

.auth-menu input.form-control:hover{
    cursor: text;
}

.auth-menu input.form-control:hover{
    color: #000;
}

.auth-menu input[type="checkbox"]:hover{
    cursor: pointer;
}

.auth-menu__warn {

    padding-top: 10px;
    color: #f00;
    margin-bottom: 0;
    font-size: 16px;
}

.profile-menu-mob {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 31231;
    background: #272a33;
    color: #9d9d9d;
    padding: 10px;
}

.profile-menu-mob ul { 
    margin: 0;
    padding: 0;
}

.profile-menu-mob a {
    text-decoration: none; 
    color: #9d9d9d;
    display: block;
}

.profile-menu-mob a:hover {
    color: #fff;
}


.profile-menu-mob li {
    text-decoration: none;
    list-style: none;
    text-align: right;
    font-size: 16px;
}

.profile-menu-mob li:hover {
    background-color: #90b651;
    color: #fff;
    cursor: pointer;
}

.profile-menu-mob li:hover a{
    color: #fff;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 31231;
    background: #272a33;
    color: #9d9d9d;
    padding: 10px;
    border-top: 4px solid #90b651;
}

.profile-menu ul { 
    margin: 0;
    padding: 0;
}

.profile-menu a {
    text-decoration: none; 
    color: #9d9d9d;
    display: block;
}

.profile-menu a:hover {
    color: #fff;
}


.profile-menu li {
    text-decoration: none;
    list-style: none;
    text-align: right;
    font-size: 16px;
}

.profile-menu li:hover {
    background-color: #90b651;
    color: #fff;
    cursor: pointer;
}

.profile-menu li:hover a{
    color: #fff;
}

.admin-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fb5353;
    color: #fff;
    z-index: 999999;
    display: none;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

.admin-panel span{
    text-decoration: underline;
}

.admin-panel span:hover{
    cursor: pointer;
}



@media (max-width: 992px) {
    
    .upper-bar__link {
        font-size: 14px;
        margin-right: 10px;
    }

}

@media (max-width: 767px) {
    
    .container-social {
        float: left;
        height: 35px;
        margin-left: 0;
    }
    
    .button-auth {
        margin-left: 5px;
    }
    
    .upper-bar {
        display: none; !important;
    }

}